<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carosello News</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container" id="app" v-cloak>
        <div class="items">
            <!-- Markup statico delle immagini -->
            <div class="item" v-for="(img,index) in images" v-show="index===imageIndex">
                <div class="text-container">
                    <h2>{{img.title}}</h2>
                    <p>{{img.text}}</p>
                </div>
                <img :src="img.image" :alt="img.image">
            </div>
        </div>
        <div class="thumbs">
            <div class="prev" @click="decIndex()"></div>
            <div class="next" @click="incIndex()"></div>
            <!-- Markup statico delle thumbnails -->
            <div class="thumb" :class="{active: index === imageIndex}" v-for="(img,index) in images">
                <img :src="img.image" :alt="img.image" @click="setIndex(index)">
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>

</html>